- name: Download official binary tarball of latest containerd ( {{ containerd_latest_version  }} ) to local-ansible-control-host
  delegate_to: local-ansible-control-host
  run_once: true
  get_url:
    url: https://github.com/containerd/containerd/releases/download/{{ containerd_latest_version }}/containerd-{{ containerd_latest_version | regex_replace('v', '') }}-linux-amd64.tar.gz
    dest: "{{ containerd_temp_binary_tarball }}"

- name: Copy downloaded containerd binary tarball from local-ansible-control-host to cluster nodes
  copy:
    src: "{{ containerd_temp_binary_tarball }}"
    dest: "{{ containerd_temp_binary_tarball }}"
    mode: '0755'

- name: Create extraction directory /root/containerd-bin-tmp
  become: true
  file:
    path: /root/containerd-bin-tmp
    state: directory
    mode: '0755'

- name: Extract containerd binaries under /root/containerd-bin-tmp
  become: true
  unarchive:
    remote_src: true
    src: "{{ containerd_temp_binary_tarball }}"
    dest: /root/containerd-bin-tmp 
    owner: root
    group: root
    mode: '0755'

- name: Copy containerd binaries to /usr/bin
  become: true
  copy:
    src: "/root/containerd-bin-tmp/bin/"
    dest: "/usr/bin/"
    owner: root
    group: root
    mode: '0755'
    remote_src: true

- name: Remove /root/containerd-bin-tmp directory
  become: true
  file:
    path: /root/containerd-bin-tmp
    state: absent

- name: Create containerd configuration directory /etc/containerd
  become: true
  file:
    path: /etc/containerd
    state: directory
    mode: '0755'

- name: Create /etc/containerd/config.toml
  become: true
  file:
    path: /etc/containerd/config.toml
    state: touch

- name: Generate containerd config
  command: containerd config default
  register: containerd_config
  changed_when: false

- name: Write containerd config to /etc/containerd/config.toml
  become: true
  copy:
    content: "{{ containerd_config.stdout }}"
    dest: /etc/containerd/config.toml

- name: Ensure SystemdCgroup is set to true in /etc/containerd/config.toml for runc
  become: true
  lineinfile:
    path: /etc/containerd/config.toml
    insertafter: '^.*containerd\.runtimes\.runc\.options.*$'
    regexp: '^\s*SystemdCgroup\s*='
    line: '            SystemdCgroup = true'
    state: present

- name: Download containerd.service file from GitHub
  become: true
  get_url:
    url: "https://raw.githubusercontent.com/containerd/containerd/main/containerd.service"
    dest: /etc/systemd/system/containerd.service

- name: Update containerd systemd unit file to use /usr/bin instead of /usr/local/bin
  become: true
  replace:
    path: /etc/systemd/system/containerd.service
    regexp: '/usr/local'
    replace: '/usr'

- name: Reload systemd daemon
  become: true
  systemd:
    name: daemon-reload

- name: Enable and start containerd.service
  become: true
  systemd:
    name: containerd.service
    enabled: yes
    state: started

- name: Verify status of containerd service
  command: systemctl is-active containerd
  register: containerd_service_status
  changed_when: false

- name: Notify status of containerd service
  debug:
    msg: |-
      status of containerd service is {{ containerd_service_status.stdout_lines }}

- name: Clean up {{ containerd_temp_binary_tarball }} from local-ansible-control-host
  delegate_to: local-ansible-control-host
  run_once: true
  file:
    path: "{{ containerd_temp_binary_tarball }}"
    state: absent

- name: Clean up {{ containerd_temp_binary_tarball }} from all nodes
  file:
    path: "{{ containerd_temp_binary_tarball }}"
    state: absent

- name: Ensure crictl config exists with runtime-endpoint
  become: true
  lineinfile:
    path: /etc/crictl.yaml
    line: "runtime-endpoint: unix:///run/containerd/containerd.sock"
    create: yes

################################# EOF #######################################
